[Unit]
Description=kiln-controller

[Service]
User=user
ExecStart=/home/user/kiln-controller/venv/bin/python /home/user/kiln-controller/kiln-controller.py

[Install]
WantedBy=multi-user.target
